# Production
COMPOSE_PROJECT_NAME=ft_transcendence
GOOGLE_ID=0123456789.apps.googleusercontent.com
JWT_SECRET=your_deepest_secret
NODE_ENV=production

# Development
COMPOSE_PROJECT_NAME=dev_transcendence
DATA_PATH=data
GOOGLE_ID=0123456789.apps.googleusercontent.com
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d
JWT_SECRET=your_deepest_secret
NODE_ENV=development
