# Production
COMPOSE_PROJECT_NAME=ft_transcendence
DATA_PATH=data
GOOGLE_ID=0123456789.apps.googleusercontent.com
GOOGLE_SECRET=google_is_the_devil
JWT_SECRET=your_deepest_secret
NODE_ENV=production

# Development
COMPOSE_PROJECT_NAME=dev_transcendence
COMPOSE_TARGET=development
DATA_PATH=data
DEV_MOUNT=.:/app
GOOGLE_ID=0123456789.apps.googleusercontent.com
GOOGLE_SECRET=google_is_the_devil
JWT_SECRET=your_deepest_secret
NODE_ENV=development
