@import "tailwindcss";
@import "./toastify.css";
@import "./stats-page.css";

:root {
  --background: #0e1111;
  --primary: #FBFAF5;
  --error: #FB2C36;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-error: var(--error);

  --text-big: 3em;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  font-family: "Special Gothic", sans-serif;
  overflow-y: hidden;
  position: relative;

  gap: 64px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(0deg); }
   65% { transform: rotate(8deg); }
   80% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.animate-wiggle:hover {
  animation: wiggle 1s infinite;
}

.settings-title>span {
  color: white;
}

.gdpr {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gdpr h1 {
  font-size: 2em;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid gray;
}
.gdpr h2 {
  font-size: 1.5em;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid gray;
}
.gdpr ul li {
  margin-left: 40px;
  list-style: circle;
}

.gdpr a {
  color: #fda5d5
}
.gdpr a:hover {
  text-decoration: underline;
}
